
.ql-font span[data-label="Ubuntu"]::before {
font-family: "Ubuntu";
content: "Ubuntu"
}
.ql-font .ql-font span[data-label="Arvo"]::before {
font-family: "Arvo";
content: "Arvo";
}
.ql-font span[data-label="Roboto"]::before {
font-family: "Roboto" !important;
content: "Roboto";
}

.ql-font-Arvo {
font-family: "Arvo";
}

.ql-font-Arvo {
font-family: "Arvo";
}

.ql-font-Roboto {
font-family: "Roboto";
}

span[data-value="Roboto"]::before {
    font-family: "Roboto";
    content: "Roboto" !important;
}

span[data-value="Arvo"]::before {
    font-family: "Arvo";
    content: "Arvo" !important;
}

span[data-value="Ubuntu"]::before {
    font-family: "Ubuntu";
    content: "Ubuntu" !important;
}